.HA_VERSION
.uuid
*.txt
*.log
*.db
*.sqlite
secrets.yaml
zwave_device_config.yaml
zwcfg_*.xml
zwscene.xml
html5_push_registrations.conf
options.xml
.google.token
.wink.conf
google_calendars.yaml
www/google*.html
